.vertical-radio-list{
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  .example-radio-button {
    margin: 5px;
  }
  .mat-radio-label{
    align-items: flex-start;
    white-space: normal !important;
  }
  .mat-radio-label-content{
    p{
      color: rgba($black, 0.5);
    }
  }
}
